body{
    font-family: sans-serif;
    text-align: center;
}


header{

    background-color: indigo;
    color: white;
    font-style: italic;
    padding: 2px;
}


footer{

    background-color: indigo;
    color: white;
    font-style: italic;
    padding: 2px;
}



.top-left{
    width: 50%;
    height: 470px;
}

.top-right{
    width: 50%;
    height: 470px;
}

